---
import Layout from "../layouts/Layout.astro";
import ThemeItem from "../components/Theme.astro";
import ThemesFile from "../assets/themes.json";
import { getTrend } from "@utils/trend";

const trendRes = await getTrend();
const sorttedThemes = ThemesFile.sort((a, b) => {
  const trendOfA =
    Number(trendRes[a.themeTitle]?.install ?? 0) +
    Number(trendRes[a.themeTitle]?.download ?? 0);
  const trendOfB =
    Number(trendRes[b.themeTitle]?.install ?? 0) +
    Number(trendRes[b.themeTitle]?.download ?? 0);

  return trendOfB - trendOfA;
});
---

<Layout title="NetNewsWire Themes collection">
  <main>
    <section class="mt-4">
      <h3 class="text-xl font-bold text-slate-700">About this project</h3>
      <p class="text-slate-600">
        This is a fan project and not affiliated with netnewswire in any way.
        The sole purpose of me creating this page is to make it easier for
        people (mainly me) to install and try out different themes without
        having to manually download the theme and place it in the themes folder.
      </p>
    </section>

    <section class="mt-8">
      <ul class="list-none grid grid-cols-1 gap-6">
        {
          sorttedThemes.map((theme) => (
            <ThemeItem
              id={theme.id}
              title={theme.themeTitle}
              description={theme.themeDescription}
              installUrl={theme.themeInstallUrl}
              author={theme.themeAuthor}
              repo={theme.themeRepo}
              themeThumbs={theme.themeThumbs}
              trend={trendRes[theme.themeTitle]}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
